<section id="intro" class="text-white pt-18 p-8">
  <!-- Contenedor principal con alineación de elementos -->
  <div class="max-w-4xl mx-auto">
    <!-- Contenedor para la imagen y el botón "Listo para Trabajar" -->
    <div class="flex items-center">
      <!-- Foto de perfil a la izquierda -->
      <img
        src="/perfil.jpg"
        alt="Mi foto de perfil"
        class="w-18 h-18 rounded-full object-cover"
      />

      <!-- Botón "Listo para Trabajar" -->
      <a
        href="https://www.linkedin.com/in/geanpieropinedocalle-b1a609272"
        target="_blank"
        class="ml-8 relative inline-flex items-center px-4 py-1 text-sm border border-white/30 rounded-full hover:text-[#171a31] transition-all duration-300 hover:bg-white/90 hover:scale-105"
      >
        <span class="relative z-10">Listo para Trabajar</span>
      </a>
    </div>

    <!-- Contenido debajo de la imagen y el botón -->
    <div class="mt-8">
      <h1 class="text-4xl font-bold">Hola, soy Piero</h1>
      <p class="mt-4 text-lg">
        Soy un Estudiante de<span class="text-[#fdc700] font-bold">
          Ingeniería en Informática y Sistemas</span
        >, <br />desarrollador apasionado por crear aplicaciones web. <img
          src="/images/peru.png"
          alt="Perú"
          class="w-6 h-6 inline-block"
        />
        Perú
      </p>
      <!-- Contenedor para los botones de correo y LinkedIn -->
      <div class="mt-6 flex space-x-5">
        <!-- Botón de Correo -->
        <a
          href="mailto:soportemorrisbundos@gmail.com"
          class="inline-flex items-center px-5 py-2 text-sm border-1 border-white rounded-full hover:bg-white hover:text-[#171a31] transition"
        >
          <img
            src="/images/mail.png"
            alt="Icono de correo"
            class="w-4 h-4 mr-2"
          />
          Contáctame
        </a>

        <!-- Botón de LinkedIn -->
        <a
          href="https://www.linkedin.com/in/geanpieropinedocalle-b1a609272"
          target="_blank"
          class="inline-flex items-center px-5 py-2 text-sm border-1 border-white rounded-full hover:bg-white hover:text-[#171a31] transition"
        >
          <img
            src="/images/linke.png"
            alt="Icono de LinkedIn"
            class="w-4 h-4 mr-2"
          />
          LinkedIn
        </a>
      </div>
    </div>
  </div>
</section>
