<section id="intro" class="text-white pt-18 p-8">
  <!-- Contenedor principal con alineación de elementos -->
  <div class="max-w-4xl mx-auto">
    <!-- Contenedor para la imagen y el botón "Listo para Trabajar" -->
    <div class="flex items-center">
      <!-- Foto de perfil a la izquierda -->
      <img
        src="/perfil.webp"
        alt="Mi foto de perfil"
        class="w-18 h-18 rounded-full object-cover"
      />

      <!-- Botón "Listo para Trabajar" -->
      <a
        href="https://wa.me/51907690125?text=Hola,%20me%20interesa%20contactarte.%20Vi%20tu%20portafolio"
        target="_blank"
        rel="noopener noreferrer"
        class="ml-8 relative inline-flex items-center px-4 py-1 text-sm border border-white/30 rounded-full hover:text-[#171a31] transition-all duration-300 hover:bg-white/90 hover:scale-105"
      >
        <svg
          height="20"
          width="20"
          viewBox="0 0 56.693 56.693"
          xmlns="http://www.w3.org/2000/svg"
          class="mr-2"
        >
          <g>
            <path
              class="st0"
              fill="currentColor"
              d="M46.38 10.714c-4.651-4.657-10.837-7.222-17.427-7.225C15.374 3.49 4.322 14.541 4.316 28.124c-.002 4.342 1.133 8.58 3.288 12.316l-3.495 12.766 13.06-3.426c3.598 1.963 7.65 2.997 11.773 2.999h.01c.001 0 0 0 0 0 13.577 0 24.629-11.052 24.635-24.635-0.006-6.59-2.566-12.78-7.217-17.436zM28.954 48.616h-.008c-3.674-.002-7.278-.989-10.421-2.854l-.748-.444-7.75 2.033 2.069-7.556-.487-.775c-2.05-3.26-3.132-7.028-3.131-10.897.004-11.289 9.19-20.474 20.484-20.474 5.469.002 10.61 2.135 14.476 6.005 3.866 3.87 5.994 9.015 5.991 14.486-0.006 11.286-9.191 20.472-20.477 20.472z"
            ></path>
            <path
              class="st0"
              fill="currentColor"
              d="M40.185 33.281c-.616-.308-3.642-1.797-4.206-2.003-.564-.205-.975-.308-1.385.308-.41.616-1.59 2.003-1.949 2.414-.359.41-.718.462-1.334.154-.615-.308-2.599-.958-4.95-3.055-1.83-1.632-3.065-3.648-3.425-4.264-.359-.616-.038-.949.27-1.256.277-.276.616-.719.923-1.078.308-.359.41-.616.616-1.027.205-.411.103-.77-.051-1.078-.154-.308-1.385-3.338-1.898-4.571-.5-1.2-1.007-1.038-1.385-1.057-.359-.018-.77-.022-1.18-.022s-1.077.154-1.641.77c-.564.616-2.155 2.106-2.155 5.135 0 3.03 2.206 5.957 2.514 6.368.308.411 4.34 6.628 10.515 9.294 1.469.634 2.615 1.013 3.509 1.297 1.475.469 2.817.402 3.877.244 1.183-.177 3.642-1.489 4.155-2.927.513-1.438.513-2.671.359-2.927-.154-.257-.564-.411-1.179-.719z"
            ></path>
          </g>
        </svg>
        <span class="relative z-10">Listo para Trabajar</span>
      </a>
    </div>

    <!-- Contenido debajo de la imagen y el botón -->
    <div class="mt-8">
      <h1 class="text-4xl font-bold">Hola, soy Piero</h1>
      <p class="mt-4 text-lg">
        Soy un Estudiante de <span class="text-[#fdc700] font-bold">
          Ingeniería en Informática y Sistemas</span
        >, <br />desarrollador apasionado por crear aplicaciones web.
        <img src="/images/peru.webp" alt="Perú" class="w-6 h-6 inline-block" /> Perú
      </p>
      <!-- Contenedor para los botones de correo y LinkedIn -->
      <div class="mt-6 flex space-x-5">
        <!-- Botón de Correo -->
        <a
          href="mailto:soportemorrisbundos@gmail.com"
          class="group inline-flex items-center px-5 py-2 text-sm border-1 border-white rounded-full hover:bg-white hover:text-[#171a31] transition"
        >
          <img
            src="/images/mail.webp"
            alt="Icono de correo"
            class="w-4 h-4 mr-2 transition group-hover:invert group-hover:brightness-0 group-hover:contrast-100"
          />
          Contáctame
        </a>

        <!-- Botón de LinkedIn -->
        <a
          href="https://www.linkedin.com/in/geanpieropinedocalle-b1a609272"
          target="_blank"
          class="group inline-flex items-center px-5 py-2 text-sm border-1 border-white rounded-full hover:bg-white hover:text-[#171a31] transition"
        >
          <img
            src="/images/linke.webp"
            alt="Icono de LinkedIn"
            class="w-4 h-4 mr-2 group-hover:invert group-hover:brightness-0 group-hover:contrast-100"
          />
          LinkedIn
        </a>
      </div>
    </div>
  </div>
</section>
