<section id="sobre-mi" class="p-8 text-white">
  <div class="max-w-4xl mx-auto">
    <h2
      class="text-3xl font-bold mb-16 inline-flex items-center gap-2 whitespace-nowrap"
    >
      <img
        src="/images/about.png"
        alt="Icono de código"
        class="w-8 h-8 inline-block"
      />

      Sobre mí
    </h2>
    <div class="flex flex-col md:flex-row items-center md:items-start">
      <!-- Contenedor del texto -->

      <div class="md:w-3/4">
        <p class="text-sm leading-relaxed mb-4 text-justify">
          ¡Hola! Me llamo <span class="font-bold text-[#fef9c3]"
            >Gean Piero Pinedo Calle</span
          > y soy estudiante de <span class="font-bold text-[#fef9c3]"
            >Ingeniería de Informática y Sistemas</span
          >. Desde siempre me ha apasionado la tecnología y el desarrollo de
          software, y estoy en constante aprendizaje para mejorar mis
          habilidades y convertirme en un gran profesional en el área.
        </p>

        <p class="text-sm leading-relaxed mb-4 text-justify">
          Actualmente, me enfoco en aprender y aplicar tecnologías modernas para
          resolver problemas de manera eficiente. Me interesa el desarrollo de
          software, la <span class="font-bold text-[#fef9c3]">programación</span
          > y la <span class="font-bold text-[#fef9c3]"
            >innovación en sistemas</span
          >, y disfruto compartiendo mis conocimientos con la comunidad.
        </p>
        <p class="text-sm leading-relaxed text-justify">
          Mi objetivo es seguir creciendo en el mundo de la tecnología,
          <span class="font-bold text-[#fef9c3]"
            >colaborar en proyectos que generen impacto</span
          > y ayudar a otros a aprender más sobre este fascinante campo. ¡Nos vemos
          en el código!
        </p>
      </div>

      <!-- Contenedor de la imagen -->
      <div class="md:w-1/4 flex justify-center md:justify-end ml-0 md:ml-8">
        <img
          src="/images/piero.jpg"
          alt="Mi foto"
          class="rounded-lg w-48 h-60 shadow-lg transform rotate-[6deg] hover:rotate-0 transition-transform duration-300 bg-white/5 p-2 border border-white/10"
        />
      </div>
    </div>
    <!-- Botón de contacto -->
    <div class="mt-6 text-center">
      <a
        href="https://www.linkedin.com/in/geanpieropinedocalle-b1a609272"
        class="inline-block hover:underline text-sm"
      >
        Contáctame
      </a>
    </div>
    <!-- Copyright -->
    <div class="mt-6 text-center text-gray-400 text-sm">
      © 2024 DevMorris. Casi todos los derechos reservados.
    </div>
  </div>
</section>
